body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
    text-align: center;
}

header {
    background: #ff5722;
    color: white;
    padding: 40px;
}

.card {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

/* Animations */
.fade {
    animation: fadeIn 2s;
}

.slide {
    animation: slideIn 2s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideIn {
    from {transform: translateY(50px);}
    to {transform: translateY(0);}
}
